certifi==2026.6.17
charset-normalizer==3.4.7
distlib==0.4.3
docutils==0.23
filelock==3.29.4
filetype==1.2.0
idna==3.18
Kivy==2.3.1
Kivy-examples==2.3.1
Kivy-Garden==0.1.5
numpy==2.5.0
opencv-python==4.13.0.92
pillow==10.4.0
platformdirs==4.10.0
Pygments==2.20.0
python-discovery==1.4.2
pyzbar==0.1.9
requests==2.34.2
setuptools==82.0.1
urllib3==2.7.0
virtualenv==21.5.1
